*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --textColor: rgb(43,47,59);
}

body{
    background-color: rgb(220,227,219);
}

header{
    display:flex;
    justify-content: flex-start;
    text-align: center;
    padding: 5px;
    color:var(--textColor);
}

h1{
    padding:10px 30px;
    margin-right: auto;
    font-size: 44px;
}


.nav{
    list-style: none;
}

.nav-links li{
    display:inline-block;
    font-size: 20px;
    margin-top:7%;
    align-self: stretch;
}

.nav-links li a{
    text-decoration: none;
    padding:0px 15px 0px 15px; 
    color:var(--textColor);
    font-size:18px;
}


#profile-picture{
    margin-right:auto;
    max-width: 8%;
    max-height: 100%;
    padding-bottom: 5px;
}

.about-me{
    text-align: center;
    justify-content: center;
    background-color:var(--textColor);
    color:rgb(218,187,185);
    padding-bottom: 10px;
}

.about-me h2{
    padding-bottom: 5px;
}

.work-content{
    display: flex;
    justify-content: flex-start;
}

.work-content h2{
    font-size: 30px;
    margin-left:50px;
    padding-right:20px;
    border-right: 3px solid rgb(11,92,76);
    color:var(--textColor);
    padding-top: 25px;
}

.projects{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.project{
    position:relative;
    width:48%;
    height:300px;
    border-color: rgb(218,187,185);
    border-style: solid;
    align-items: flex-start;
    margin:7px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.project:hover{
    opacity: 80%;
    box-shadow: 5px 5px var(--textColor);
}

.project-button{
    background-color: rgb(218,187,185);
    border-color: rgb(218,187,185);
    bottom: 40px;
    position: absolute;
    border-style: solid;
    border-width:10px;
    text-decoration: none;
    color:var(--textColor);
    border-radius: 0px 10px 10px 0px;
    max-width: 75%;
}


.project h3{
    font-size:20px;
}

.project p{
    font-size:14px;
    margin-top:10px;
}

#project-1 {
    width: 100%;
    height: 400px;
    background-image: url("../images/Zoom_Background.png");
    background-size: cover;
    background-position: center;
    /* Add any other styles you may need */
}

.project-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h3, p {
    margin: 0;
}


#project-2{
    background-image: url("../images/vecteezy_row-of-dumbbell-in-fitness-gym__779.jpg");
}

#project-3{
    background-image: url("../images/placeholder.jpg");
}

#project-4{
    background-image: url("../images/placeholder.jpg");
}

#project-5{
    background-image: url("../images/placeholder.jpg");
}

footer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid rgb(11,92,76);
}

footer h2{
    padding:30px;
    font-size:25px;
}

footer li{
    list-style: none;
    padding:10px;
    font-size: 20px;
    border:10px;
    margin:10px;
    display: inline;
}

footer li a{
    text-decoration: none;
    color:var(--textColor);
}


@media screen and (max-width: 992px) {

    .project{
      width: 85%;
    }

    .work-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px;
        border: 0px;
    }

    .work-content h2{
        margin-left:0px;
        border-right:none;
        padding-top: 20px;
        justify-content: center;
    }

    header{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .projects{
        justify-content: center;
    }
    .work-content h2{
        margin-left:0px;
    }
    .project {
          width: 85%;
    }
}